Repository BellaBe/glam-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, prisma-validate, check-env-vars, check-imports

poetry-check:
  name: Validate Poetry configuration
  entry: bash -c 'for dir in services/*; do if [ -f "$dir/pyproject.toml" ]; then (cd "$dir" && poetry check); fi; done'
  language: system
  pass_filenames: false

prisma-validate:
  name: Validate Prisma schemas
  entry: bash -c 'if [ -f apps/shopify-app/prisma/schema.prisma ]; then cd apps/shopify-app && npx prisma validate; fi'
  language: system
  pass_filenames: false

check-env-vars:
  name: Check environment variables
  entry: python scripts/check_env_vars.py
  language: system
  pass_filenames: false

check-imports:
  name: Check Python imports
  entry: bash -c 'scripts/check-imports.sh'
  language: system
  pass_filenames: false

rearrange makefile
  .pre-commit-config.yaml
  .pre-commit-scripts/validate-prisma.sh
  Makefile
  README.md
  docker-compose.local.yml
  makefiles/common.mk
  makefiles/database.mk
  makefiles/dev.mk
  makefiles/local.mk
  makefiles/prod.mk
  makefiles/services.mk
  scripts/get-db-url.sh
  scripts/helth-check.sh
  scripts/wait-for-db.sh
  services/credit-service/src/lifecycle.py
  services/credit-service/src/repositories/credit_repository.py
  services/merchant-service/src/config.py
  services/merchant-service/src/lifecycle.py
  services/merchant-service/src/repositories/merchant_repository.py
  services/merchant-service/src/schemas/merchant.py
  services/merchant-service/src/services/merchant_service.py
  services/notification-service/src/config.py
  services/notification-service/src/lifecycle.py
  services/notification-service/src/repositories/notification_repository.py
  services/notification-service/src/schemas/__init__.py
  services/webhook-service/src/config.py
  services/webhook-service/src/lifecycle.py
  services/webhook-service/src/repositories/webhook_repository.py
Due: check-imports

fix runtime errors
  .editorconfig
  .prettierrc
  README.md
  apps/shopify-app/shopify.app.staging-gyu-app.toml
  makefiles/local.mk
  services/__init__.py
  services/billing-service/src/lifecycle.py
  services/billing-service/src/services/billing_service.py
  services/billing-service/src/services/purchase_service.py
  services/catalog-service/prisma/schema.prisma
  services/catalog-service/src/lifecycle.py
  services/catalog-service/src/services/catalog_service.py
  services/credit-service/pyproject.toml
  services/credit-service/src/lifecycle.py
  services/merchant-service/src/schemas/merchant.py
  services/notification-service/poetry.lock
  services/notification-service/pyproject.toml
  services/notification-service/src/lifecycle.py
  services/webhook-service/src/lifecycle.py
  shared/shared/messaging/jetstream_client.py
  shared/shared/messaging/listener.py
Due: poetry-check, prisma-validate, check-imports

format
  services/billing-service/src/services/purchase_service.py
  services/catalog-service/src/services/catalog_service.py
  services/merchant-service/src/schemas/merchant.py
  shared/shared/messaging/jetstream_client.py
  shared/shared/messaging/listener.py
Due: check-imports

format
  services/catalog-service/src/config.py
  services/credit-service/src/config.py
  services/notification-service/src/api/v1/notifications.py
  services/notification-service/src/config.py
  services/notification-service/src/dependencies.py
  services/notification-service/src/events/listeners.py
  services/notification-service/src/lifecycle.py
  services/notification-service/src/repositories/notification_repository.py
  services/notification-service/src/services/email_service.py
  services/notification-service/src/services/notification_service.py
Due: check-imports

remove unused services
  apps/shopify-app/scripts/output/app_tree_with_code.txt
Due: none

add selfie service
  services/selfie-service/Dockerfile
  services/selfie-service/poetry.lock
  services/selfie-service/prisma/schema.prisma
  services/selfie-service/pyproject.toml
  services/selfie-service/src/api/v1/analyses.py
  services/selfie-service/src/api/v1/endpoints.py
  services/selfie-service/src/config.py
  services/selfie-service/src/dependencies.py
  services/selfie-service/src/events/listeners.py
  services/selfie-service/src/events/publishers.py
  services/selfie-service/src/exceptions.py
  services/selfie-service/src/lifecycle.py
  services/selfie-service/src/main.py
  services/selfie-service/src/repositories/analysis_repository.py
  services/selfie-service/src/repositories/base_repository.py
  services/selfie-service/src/schemas/analysis.py
  services/selfie-service/src/schemas/domain.py
  services/selfie-service/src/schemas/events.py
  services/selfie-service/src/services/domain_service.py
  services/selfie-service/src/services/image_processor.py
  services/selfie-service/src/services/selfie_service.py
  services/selfie-service/src/tasks.py
Due: poetry-check, prisma-validate, check-imports

add analytics service
  services/recommendation-service/Dockerfile
  services/recommendation-service/poetry.lock
  services/recommendation-service/prisma/schema.prisma
  services/recommendation-service/pyproject.toml
  services/recommendation-service/src/api/v1/endpoints.py
  services/recommendation-service/src/api/v1/recommendations.py
  services/recommendation-service/src/config.py
  services/recommendation-service/src/dependencies.py
  services/recommendation-service/src/events/publishers.py
  services/recommendation-service/src/exceptions.py
  services/recommendation-service/src/external/season_compatibility_client.py
  services/recommendation-service/src/lifecycle.py
  services/recommendation-service/src/main.py
  services/recommendation-service/src/repositories/base_repository.py
  services/recommendation-service/src/repositories/match_repository.py
  services/recommendation-service/src/schemas/domain.py
  services/recommendation-service/src/schemas/events.py
  services/recommendation-service/src/schemas/recommendation.py
  services/recommendation-service/src/services/domain_service.py
  services/recommendation-service/src/services/recommendation_service.py
  services/recommendation-service/tests/integration/test_api.py
  services/recommendation-service/tests/unit/__init__.py
  services/recommendation-service/tests/unit/test_recommendation_service.py
  services/recommendation-service/tests/unit/test_service.py
Due: poetry-check, prisma-validate, check-imports

fix merchant created event in notification service
  services/merchant-service/src/api/v1/merchants.py
  services/merchant-service/src/services/merchant_service.py
  services/notification-service/prisma/migrations/20250904144547_desktop_pgt_1_cqb/migration.sql
  services/notification-service/prisma/migrations/20250905041725_desktop_pgt_1_cqb/migration.sql
  services/notification-service/prisma/migrations/20250906044104_desktop_pgt_1_cqb/migration.sql
  services/notification-service/prisma/migrations/migration_lock.toml
  services/notification-service/prisma/schema.prisma
  services/notification-service/src/dependencies.py
  services/notification-service/src/events/listeners.py
  services/notification-service/src/events/listeners/__init__.py
  services/notification-service/src/events/listeners/billing_events.py
  services/notification-service/src/events/listeners/catalog_events.py
  services/notification-service/src/events/listeners/credit_events.py
  services/notification-service/src/events/listeners/merchant_events.py
  services/notification-service/src/events/publishers.py
  services/notification-service/src/lifecycle.py
  services/notification-service/src/providers/base.py
  services/notification-service/src/providers/mailhog_provider.py
  services/notification-service/src/providers/sendgrid_provider.py
  services/notification-service/src/repositories/notification_repository.py
  services/notification-service/src/schemas/events.py
  services/notification-service/src/schemas/notification.py
  services/notification-service/src/services/email_service.py
  services/notification-service/src/services/notification_delivery_service.py
  services/notification-service/src/services/notification_service.py
  services/notification-service/src/services/template_service.py
  services/token-service/src/api/v1/tokens.py
  services/token-service/src/services/token_service.py
  shared/shared/api/__init__.py
  shared/shared/api/dependencies.py
  shared/shared/api/internal_client.py
  shared/shared/api/validation.py
  shared/shared/messaging/events/base.py
  shared/shared/messaging/events/merchant.py
  shared/shared/messaging/listener.py
  shared/shared/messaging/publisher.py
  shared/shared/messaging/subjects.py
  shared/shared/utils/logger.py
Due: prisma-validate, check-imports

fix formatting
  services/merchant-service/src/main.py
  services/notification-service/src/api/__init__.py
  services/notification-service/src/api/v1/__init__.py
  services/notification-service/src/api/v1/notifications.py
  services/notification-service/src/main.py
  services/notification-service/src/repositories/notification_repository.py
  services/notification-service/tests/http/README.md
  services/notification-service/tests/http/notifications.http
  services/notification-service/tests/http/quick_token.py
  services/webhook-service/src/main.py
  shared/shared/api/__init__.py
  shared/shared/api/debug.py
  shared/shared/api/dependencies.py
  shared/shared/api/handlers.py
  shared/shared/api/health.py
  shared/shared/api/middleware.py
  shared/shared/api/models.py
  shared/shared/api/responses.py
Due: check-imports

format
  apps/shopify-app/app/shopify.server.js
  scripts/output/messaging_tree_with_code.txt
  services/merchant-service/poetry.lock
  services/merchant-service/prisma/migrations/20250909071021_desktop_pgt_1_cqb/migration.sql
  services/merchant-service/prisma/migrations/20250909175015_desktop_pgt_1_cqb/migration.sql
  services/merchant-service/prisma/schema.prisma
  services/merchant-service/pyproject.toml
  services/merchant-service/src/api/v1/merchants.py
  services/merchant-service/src/config.py
  services/merchant-service/src/dependencies.py
  services/merchant-service/src/events/publishers.py
  services/merchant-service/src/lifecycle.py
  services/merchant-service/src/main.py
  services/merchant-service/src/repositories/merchant_repository.py
  services/merchant-service/src/schemas/__init__.py
  services/merchant-service/src/schemas/merchant.py
  services/merchant-service/src/services/merchant_service.py
  services/notification-service/src/events/publishers.py
  services/notification-service/src/lifecycle.py
  services/notification-service/src/main.py
  services/notification-service/tests/http/README.md
  shared/shared/messaging/events/merchant.py
  shared/shared/messaging/events/webhook.py
  shared/shared/messaging/jetstream_client.py
  shared/shared/messaging/publisher.py
  shared/shared/messaging/subjects.py
  tests/http/merchants.http
  tests/http/notifications.http
  tests/http/quick_token.py
Due: poetry-check, prisma-validate, check-imports

simplify deployment
  .gitignore
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.vultr.yml
  docker-compose.yml
  infrastructure/Makefile
  infrastructure/caddy/Caddyfile
  infrastructure/nginx/nginx.conf
  infrastructure/scripts/REDME.md
  infrastructure/scripts/postgres-init.sh
  infrastructure/scripts/security.sh
  infrastructure/scripts/setup.sh
  infrastructure/scripts/ssl-setup.sh
  infrastructure/scripts/validate-env.sh
  services/merchant-service/src/services/merchant_service.py
Due: check-imports

first working dev env
  .utility-scripts/output/infrastructure_tree_with_code.txt
  .utility-scripts/output/notification-service_tree_with_code.txt
  Makefile
  infrastructure/caddy/Caddyfile.local
  infrastructure/docker-compose.local.yml
  infrastructure/docker-compose.yml
  old_models/notifications-prisma/migrations/20250904144547_desktop_pgt_1_cqb/migration.sql
  old_models/notifications-prisma/migrations/20250905041725_desktop_pgt_1_cqb/migration.sql
  old_models/notifications-prisma/migrations/20250906044104_desktop_pgt_1_cqb/migration.sql
  old_models/notifications-prisma/migrations/migration_lock.toml
  old_models/notifications-prisma/schema.prisma
  services/credit-service/src/api/v1/credits.py
  services/notification-service/poetry.lock
  services/notification-service/pyproject.toml
  services/notification-service/src/db/models.py
  services/notification-service/src/db/session.py
  services/notification-service/src/lifecycle.py
  services/notification-service/src/repositories/notification_repository.py
  services/notification-service/src/services/notification_service.py
  shared/shared/api/middleware.py
Due: poetry-check, prisma-validate, check-imports

Path conditions:
  poetry-check: any of: ^services/.*/pyproject.toml$
  prisma-validate: any of: \.prisma$
  check-env-vars: any of: \.env\.example$
  check-imports: any of: ^(services|shared)/.*\.py$
